/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 960
 *= require pages
 *= require_tree .
*/

/* spreadsheet wide settings */
* {
    margin: 0px;
    padding: 0px;
}

html {
	overflow-y: scroll; /* forces permanent scrollbar */
}

html, body {
    font-family: Arial;
}

ul {
    list-style: none;
}

/* fonts */
@font-face {
    font-family: 'Cafeta';
    src: url('CAFETA__.TTF');
}

@font-face {
    font-family: 'Atype1';
    src: url('Atype_1_Normal.ttf');
}

/* links */
a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: inherit;
}

a img {
    text-decoration: none;
    border: 0 none;
}

/* colours */
.green, a.green {
    color: #03BABA;
}

/* commonly used stuff */
div.greenlineacross {
    height: 1px;
    background-color: #00C2C2;
    position: absolute;
    left: 0px;
    right: 0px;
}

div.greenline {
    height: 1px;
    background-color: #00C2C2;
    width: 100%;
}

div.beigeline {
    height: 1px;
    background-color: #FBEDD6;
    width: 100%;
}

/* header */
div#aboveline {
    margin: 20px 0px 20px 0px;
    height: 119px
}

div#loginnav {
    float: right;
    font-family: Cafeta, sans-serif;
    font-size: 20px;
    padding: 2px;
}

div#loginnav div {
    float: right;
    height: 35px;
    padding: 0px 15px 2px 0px
}

div#loginnav div#joinus {
    padding: 0px 0px 2px 15px;
    border-left: 1px solid #000000;
    text-align: right;
    width: 111px;
    position: relative;
}

div#loginnav div#joinus p {
    font-family: Arial;
    font-size: 13px;
    color: #03BABA;
    position: absolute;
    top: 22px;
    right: 2px;
}

div#loginnav div img {
    margin-left: 8px;
    vertical-align: middle;
}

/* start of sitenav */
nav#sitenav li {
    float: left;
    margin: 39px 20px 40px 0px;
    height: 50px;
}

nav#sitenav ul li div.menu {
    float: left;
    padding: 0px 4px 0px 4px;
    background-color: #00C2C2;
    color: #FFFFFF;

    font-family: Cafeta, sans-serif;
    font-size: 20px;
    line-height: 50px;
}

nav#sitenav ul li div.first { padding-left: 13px; }
nav#sitenav ul li div.last { padding-right: 13px; }

nav#sitenav ul li div.menu img {
    vertical-align: middle;
    margin-right: 7px;
}

nav#sitenav ul li#general {
    margin-right: 0px;
}

nav#sitenav ul li#viewcart {
    float: right;
    margin-right: 0px;
}

nav#sitenav ul li#viewcart div#whitetriangle {
    float: left;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid white;
    margin-right: 25px;
}

nav#sitenav ul li#viewcart div.menu {
    float: right;
    background-color: #FBEDD6;
    color: #03BABA;
    padding: 0px 10px 0px 0px;
}
/* end of sitenav */
/* end of header */

/* main */
div#main {
    min-height: 300px;
}

/* forms */
input[type=text] {
    border: 1px solid #4A4A4A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 1px 1px #D9D9D9;
    -moz-box-shadow: inset 0px 1px 1px 1px #D9D9D9;
    box-shadow: inset 0px 1px 1px 1px #D9D9D9;
    height: 27px;
}

input[type=submit] {
    border: 1px solid #4A4A4A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #aeaeae;
    -moz-box-shadow: inset 0px 1px 0px 0px #aeaeae;
    box-shadow: inset 0px 1px 0px 0px #aeaeae;
    background: -webkit-linear-gradient(top, #7d7d7d 0%,#111010 75%);
    background: linear-gradient(top, #7d7d7d 0%,#111010 100%);
    color: #FFFFFF;
    height: 29px;
}

/* footer */
div#footer {
    height: 290px;
    background-color: #FBEDD6;

    position: absolute;
    left: 0px;
    right: 0px;
    /*top: 588px; /* header - 288px body - 500px */
    bottom: auto;
}

div#footer div#copyright {
    height: 40px;
    background-color: #02BCBC;

    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 40px;

    position: absolute;
    left: 0px;
    right: 0px;
    /*top: 878px; /* header - 288px body - 500px footer - 290px */
    bottom: -40px;
}

div#footer_container {
    margin: auto;
    width: 940px;
    height: 100%;
}

div#footer_container div {
    margin-right: 20px;
    font-size: 13px;
}

div#footer_container div li.first {
    margin-top: 17px;
}

div#footer_container div p.title {
    font-family: Atype1, sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin: 16px 0px 14px 0px;
}

div#news {
}

div#news p.desc {
    font-size: 12px;
    color: #000000;
    line-height: 20px;
}

div#news li {
    margin-top: 10px;
}

div#connect {
    width: 240px;
}

div#menu {
}

div#guide {
}

div#menu li, div#guide li {
    margin-top: 9px;
}
/* end of footer */