/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require 960
*/
/* spreadsheet wide settings */
html, body {
	font-family: Arial;
}

/* links */
a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color: inherit;
}

a img {
	text-decoration: none;
	border: 0 none;
}

/* colours */

/* header */
div#aboveline {
	padding-bottom: 15px;
}

div#loginnav {
	float: right;
	font-family: Cafeta, sans-serif;
	font-size: 20px;
	padding: 2px;
}

div#loginnav div {
	float: right;
	height: 35px;
	padding: 0px 15px 2px 0px
}

div#loginnav div#right {
	padding: 0px 0px 2px 15px;
	border-left: 1px solid #000000;
	text-align: right;
	width: 111px;
	position: relative;
}

div#loginnav div#right font#link {
	font-family: Arial;
	font-size: 13px;
	color: #03BABA;
	position: absolute;
	top: 22px;
	right: 2px;
}

div#loginnav div img {
	margin-left: 8px;
	vertical-align: middle;
}

div#line {
	height: 1px;
	background-color: #00C2C2;
	position: absolute;
	left: 0px;
	right: 0px;
}

/* start of sitenav */
nav#sitenav ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

nav#sitenav li {
	float: left;
	padding: 0px;
	margin: 38px 20px 38px 0px;
}

nav#sitenav ul li div.menu {
	float: left;
	height: 50px;
	padding: 0px 4px 0px 4px;
	background-color: #00C2C2;
	color: #FFFFFF;
	
	font-family: Cafeta, sans-serif;
	font-size: 22px;
	line-height: 50px;
}

nav#sitenav ul li div.first { padding-left: 10px; }
nav#sitenav ul li div.last { padding-right: 10px; }

nav#sitenav ul li div.menu img {
	vertical-align: middle;
	margin-right: 4px;
}

nav#sitenav ul li#general {
	margin-right: 0px;
}

nav#sitenav ul li#viewcart {
	float: right;
	margin-right: 0px;
}

nav#sitenav ul li#viewcart div#whitetriangle {
	float: left;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px solid white;
	margin-right: 15px;
}

nav#sitenav ul li#viewcart div.menu {
	float: right;
	background-color: #FBEDD6;
	color: #03BABA;
	padding: 0px 10px 0px 0px;
}
/* end of sitenav */
/* end of header */

/* main */
div#main {
}

/* footer */
div#footer {
	height: 200px;
	background-color: #FBEDD6;
	
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 40px;
}

div#copyright {
	height: 40px;
	background-color: #02BCBC;
	
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 40px;
	
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
}