// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* classes */
p.title {
    font-family: Atype1, sans-serif;
    color: #03B9B9;
    font-size: 20px;
    margin-bottom: 0px;
}

/* home styles */

/* signup styles */
p {
    font-size: 13px;
    line-height: 21px;
}

p.top {
    margin-top: -5px;
}

p.bottom {
    margin-bottom: 5px;
}

div#title {
    margin-bottom: 21px;
}

div#signupfacebook, div#signupemail, div#login {
    margin-top: 20px;
}

div#signupfacebook {
}

div#login {
    float: right;
    width: 260px;
    padding: 15px 20px 11px 20px;
    background-color: #FBEDD6;
}

div#login p.title {
    margin-bottom: 12px;
}

div#login input[type=text] {
    width: 100%;
    background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
}

div#login input[type=submit] {
    margin-top: 13px;
    width: 100px;
}

div#login * {
    margin-bottom: 4px;
}

div#signupemail {
    margin-bottom: 40px;
}

div#signupemail p {
    margin-bottom: 12px;
}

div#signupemail input[type=text] {
    width: 206px;
    margin-right: 16px;
}

div#signupemail input[type=submit] {
    width: 100px;
}